.main--div{
display: flex;
justify-content: space-evenly;
aside{
    width: 300px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    line-height: 20px;
p{
    display: flex;
    // justify-content:baseline;
}
}
}
h2{
    text-align: center;

}